

<!--ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
<ul>



<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul-->

body>
    <div class="jumbotron">
        <h1 class="display-4"><i class="fab fa-facebook-square"></i>  Eat Da Burger!!</h1>
        <p class="lead">Order and Devour!</p>
        <hr class="my-4">
        <p>Choose your burger!</p>
        <a class="btn btn-primary btn-lg" href="./survey" role="button"><i class="fas fa-poll-h"></i><space/>   Go to Survey</a>
      </div>
</body>
<footer>  
</footer>
</html>